<div id="thankyou-email-body-tip" style="display:none;">
  <p>You may use special tokens which will be replaced, and provide sensible defaults for cases where information is not known:</p>
  <p><strong>{NAME|Friend}</strong> The recipient's first name, 
    or 'Friend' if we do not know their name.
  </p>
  <p><strong>{ASK_MODULE_TEXT}</strong> The module specific text.
    For example, in the doorknock module
    This will be the street names.
  </p>
</div>
<div id="thankyou-email-subject-tip" style="display:none;">
  <p>You may use special tokens which will be replaced, and provide sensible defaults for cases where information is not known:</p>
  <p><strong>{NAME|Friend}</strong> The recipient's first name, 
    or 'Friend' if we do not know their name.
  </p>
</div>

