.container.top-block
  .header
    - if @page.valid_header_content_modules.present?
      - @page.valid_header_content_modules.each do |content_module|
        = render :partial => content_module_partial(content_module), :locals => {:content_module => content_module, :section => :header}
  .content-wrap
    #action
      - @page.sidebar_content_modules.select(&:valid?).each do |content_module|
        - if @email.nil? || content_module.class.name != "DirectLandingHtmlModule"
          = render :partial => content_module_partial(content_module), :locals => {:content_module => content_module, :section => :sidebar}

    %section.page-content
      - @page.main_content_modules.select(&:valid?).each_with_index do |content_module, index|
        = render :partial => content_module_partial(content_module), :locals => {:content_module => content_module, :section => :main_content}

