%hr
#scorecard-explanation
  %h4.middle-cell
    More info
  %small
    %p
      These are GetUp’s ratings of the positions of featured parties as at 21/08/13, based on the stated positions of parties. All parties were asked to clarify their policies with us; Liberal/LNP, KAP and PUP did not. A circle denotes positions that were unclear or unknown; ‘no policy’ denotes a section where a party did not appear to have any policy at time of printing.
  - if katter_present
    %small
      %p
        We had trouble scoring Katter's Australian Party on Indigenous affairs. The party's policies didn't address the criteria from our survey, leaving it with a very low score. We felt this score wasn't representitive of the significant, positive work Bob Katter and/or Katter's Australian Party has done on Indigenous affairs, including native title legislation and compensation for victims of the stolen generation.
