.col-xs-12.col-sm-2.col-md-2
  .row
    .col-xs-5.visible-xs
      %p.party= party
    - if score
      .col-xs-7.col-sm-12.score.no-padding
        = stars score
    - else
      .col-xs-7.col-sm-12.no-padding.no-policy
        NO POLICY