.bundle
.DS_Store
log/*
tmp
vendor/cache
config/address_total_check.yml
config/paypal-sandbox.yml
config/nation_builder.yml
config/gmail_api.json
.#*
public/stylesheets/sass/.sass-cache
public/system
public/assets
public-test
db/*.sqlite3
coverage
.idea/
.gitconfig
*.swp
*.swo
*.swn
solr/data
servers/credentials
servers/server_manifest.yml
solr/pids
public/assets
public/stylesheets/events.css
*.un~
.sass-cache
.jshintrc
.byebug_history
.env
