<!DOCTYPE html>
<html>
  <head>
   <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>

    <p>Hi <%= @greeting %>,</p>

    <p><b>Thanks for supporting a great cause on CommunityRun!</b></p>

    <p>You're reading this email because you either added your name to a petition or launched your own campaign on CommunityRun. <b>On behalf of all us here at CommunityRun, welcome!</b></p>

    <b><a href="https://www.communityrun.org/">CommunityRun</a></b> is an online campaigning tool that empowers Australians to campaign for positive change in their local area, community or Australia-wide. It allows you to run your own campaign on the issue you care about, lend your support to other campaigns and be part of an active community of Australians who - just like you - want to fight to make things better.

    <p>Being a part of CommunityRun means that every now and again you'll receive an email about other member-driven campaigns. And because CommunityRun is powered by GetUp, it also means you'll receive emails from GetUp on a range of issues facing Australia today. </p>

    <p>If you haven't heard of it before, <b><a href="https://www.getup.org.au/">GetUp</a></b> is an independent, community advocacy organisation that aims to build a more progressive Australia by giving everyday Australians the opportunity to get involved and hold politicians to account on important issues. Receiving these emails is optional and you can opt out at any time.</p>

    <p>Feel free to check out the latest from GetUp on <b><a href="https://twitter.com/GetUp">Twitter</a></b> and <b><a href="https://www.facebook.com/GetUpAustralia">Facebook</a></b>, and hear more about CommunityRun's member-driven campaigns on <b><a href="https://www.facebook.com/communityrun">Facebook</a></b>.</p>

    <b>To ensure our emails make it into your inbox in the future, please save us as a contact or 'reply' to this email.</b> We'd love to hear from you!

    <p>It's great to have you on board,</p>
    <p>Emma, for the CommunityRun team</p>

<p>PS. If you got this email by error or don't wish to receive future emails, <b><a href="https://www.getup.org.au/unsubscribe">click here to unsubscribe</a></b>.</p>

    <div style="text-align: center">
      <img src="http://getup-production.s3.amazonaws.com/image_1220_full.jpg" height="30"> <a href="http://www.facebook.com/getupaustralia"><img src="http://getup-production.s3.amazonaws.com/image_1216_full.png" height="30"></a> <a href="http://www.twitter.com/getup"><img src="http://getup-production.s3.amazonaws.com/image_1217_full.png" height="30"></a> <a href="http://blog.getup.org.au"><img src="http://getup-production.s3.amazonaws.com/image_1218_full.png" height="30"></a>
    </div>
    <div style="text-align: center">
      <img src="http://getup-production.s3.amazonaws.com/image_1219_full.jpg" height="25"> <a href="http://www.facebook.com/communityrun"><img src="http://getup-production.s3.amazonaws.com/image_1221_full.png" height="30"></a> <a href="http://www.twitter.com/communityrun"><img src="http://getup-production.s3.amazonaws.com/image_1222_full.png" height="30"></a> <a href="http://blog.communityrun.org/"><img src="http://getup-production.s3.amazonaws.com/image_1223_full.png" height="30"></a>
    </div>
  </body>
</html>
