<!DOCTYPE html>
<html>
  <head>
   <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Hi <%= @greeting %>,</p>

    <p>Welcome back to GetUp! Looks like you haven’t been in touch with us in little while, so it’s great to have you back onboard.

    <p>Maybe you've taken action on a <a href="http://www.GetUp.org.au">GetUp campaign</a>, or supported a great cause on <a href="http://www.communityrun.org/">CommunityRun</a>. However you've reconnected, we're glad you did!</p>

    <p>You can also check out the latest from GetUp on <b><a href="https://twitter.com/GetUp">Twitter</a></b> and <b><a href="https://www.facebook.com/GetUpAustralia">Facebook</a></b>, and sign up to hear about member-driven campaigns on CommunityRun's Facebook page or Twitter feed.</p>

    <p>We’re just sending this to let you know that you’ve officially resubscribed to our mailing list. If this was done in error, you can click here to <a href="https://www.getup.org.au/unsubscribe">unsubscribe</a>. We’d miss you, but we hope you'll keep an eye on our campaigns and take action on the issues that matter to you.</p>

    <p>Thanks for being a part of this, </p>

    <p>The GetUp! Team</p>

    <p>PS. If you have received this email in error, <a href="http://www.getup.org.au/unsubscribe">click here to unsubscribe</a>.</p>

    <div style="text-align: center">
      <img src="http://getup-production.s3.amazonaws.com/image_1220_full.jpg" height="30"> <a href="http://www.facebook.com/getupaustralia"><img src="http://getup-production.s3.amazonaws.com/image_1216_full.png" height="30"></a> <a href="http://www.twitter.com/getup"><img src="http://getup-production.s3.amazonaws.com/image_1217_full.png" height="30"></a> <a href="http://blog.getup.org.au"><img src="http://getup-production.s3.amazonaws.com/image_1218_full.png" height="30"></a>
    </div>
    <div style="text-align: center">
      <img src="http://getup-production.s3.amazonaws.com/image_1219_full.jpg" height="25"> <a href="http://www.facebook.com/communityrun"><img src="http://getup-production.s3.amazonaws.com/image_1221_full.png" height="30"></a> <a href="http://www.twitter.com/communityrun"><img src="http://getup-production.s3.amazonaws.com/image_1222_full.png" height="30"></a> <a href="http://blog.communityrun.org/"><img src="http://getup-production.s3.amazonaws.com/image_1223_full.png" height="30"></a>
    </div>
  </body>
</html>
