<!DOCTYPE html>
<html>
  <head>
   <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Hi <%= @greeting %>,</p>

    <p>We'd like to say welcome!

    <p>Maybe you've taken action on a <a href="http://www.GetUp.org.au">GetUp campaign</a>, or supported a great cause on <a href="http://www.communityrun.org/">CommunityRun</a>. However you found us, we're glad you did!</p>

    <p>Being a part of the community means that we'll email you every now and again with campaign updates on a range of issues - some of which you might be passionate about, and others you may not. Getting involved is quick, easy, effective and optional.</p>

    <p>Now that you're here, <strong>let's get together</strong>.</p>

    <p>Tell us which campaigns matter most to you in our <b><a href="http://surveys.getup.org.au/s3/new-members">new member survey</a></b>.</p>

    <p>Check out the latest from GetUp on <a href="http://www.twitter.com/GetUp">Twitter</a> and <a href="http://www.facebook.com/GetUpAustralia">Facebook</a>, and sign up to hear about member-driven campaigns on CommunityRun's <a href="http://www.facebook.com/communityrun">Facebook page</a> or <a href="http://www.twitter.com/communityrun">Twitter feed</a>.</p>

    <p><strong>If you do just one thing, reply to this email.</strong> This will make sure our emails get to you in the future - and we'd also just love to hear from you.</p>

    <p>Thanks for being a part of this, </p>

    <p>The GetUp! Team</p>

    <p>PS. If you have received this email in error, <a href="http://www.getup.org.au/unsubscribe">click here to unsubscribe</a>.</p>

    <div style="text-align: center">
      <img src="http://getup-production.s3.amazonaws.com/image_1220_full.jpg" height="30"> <a href="http://www.facebook.com/getupaustralia"><img src="http://getup-production.s3.amazonaws.com/image_1216_full.png" height="30"></a> <a href="http://www.twitter.com/getup"><img src="http://getup-production.s3.amazonaws.com/image_1217_full.png" height="30"></a> <a href="http://blog.getup.org.au"><img src="http://getup-production.s3.amazonaws.com/image_1218_full.png" height="30"></a>
    </div>
    <div style="text-align: center">
      <img src="http://getup-production.s3.amazonaws.com/image_1219_full.jpg" height="25"> <a href="http://www.facebook.com/communityrun"><img src="http://getup-production.s3.amazonaws.com/image_1221_full.png" height="30"></a> <a href="http://www.twitter.com/communityrun"><img src="http://getup-production.s3.amazonaws.com/image_1222_full.png" height="30"></a> <a href="http://blog.communityrun.org/"><img src="http://getup-production.s3.amazonaws.com/image_1223_full.png" height="30"></a>
    </div>
  </body>
</html>
