div.toggleEdit-preview {
    display:inline;
}

.toggleEdit-preview {
    text-decoration: underline;
}

.toggleEdit-preview:hover {
    padding: 0px;
    border: 2px solid #8CDFFF;
}


div#tabs {
    background: transparent;
}

#campaigns
{
  width: 500px;
}

.multiselect
{
  width: 500px;
  height: 500px;
}

