= render :partial => 'pages/content_modules/donation_module', 
    :locals => {:content_module => content_module, :section => :sidebar, :address_validation_partial_name => 'pages/content_modules/address_validation'}
