<div id="tokens-hint" style="display:none;">
  <h3>HTML sensitive</h3>
  but no line breaks required
  <br>
  <h3>Available tokens include:</h3>
  {NAME}<br>
  {EVENT_LINK}<br>
  {EVENT_NAME}<br>
  {EVENT_DATE}<br>
  {EVENT_TIME}<br>
  {EVENT_ADDRESS}<br>
  {EVENT_HOST_NOTES}<br><br>

  For default values, write tokens like this:<br>
  {NAME|Default Value}
</div>

<div id='admin-managed-tooltip' style="display:none;">
  <h3>Admin Managed</h3>
  <p>Admin managed get togethers can only have events created by GetUp.</p>
  <p>This is disabled when it is the managed get together for another get together.</p>
</div>
<div id='managed-get-together' style="display:none;">
  <h3>Managed Get Together</h3>
  You can combine admin managed events with community events by referencing the get together that contains the managed events here.
</div>

<div id="rsvp-url-hint" style="display:none;">
  <h3>After RSVP URL</h3>
  Optionally include a URL to redirect a user to after they RSVP to an event.<br /><br />
  If left blank, the user will be redirected to the event page.
</div>
