<div class="disclaimer">
    To determine who appears on this how-to-vote card, parties and candidates in contention were researched and surveyed for their position across 33 policy areas. For more information click
    <a target="_BLANK" href="https://www.getup.org.au/vote">here</a>.
</div>

<div class="auth-card">
    <div>Authorised by Paul Oosting for GetUp. Level 14 338 Pitt Street Sydney NSW 2000</div>
</div>

<div class="not-for-printing">
    web use only not for printing
</div>
