%footer
  %section.notes
    .container
      .copyright
        &copy;
        = Date.today.year
        GetUp! All rights reserved. Authorised by #{AppConstants.authorised_by}, #{AppConstants.office_address}.
