%article
  .container
    %section
      %article
        #content-modules.without-ask
          .inner
            #main-content-modules.left
              .inner
                #main-content-header
                  %h1
                    .left
                      New event for ‘#{@event.get_together.name}’
                    .right
                #creation-steps
                  %ul.tab-headers
                    %li.step-1-tab
                      %div
                        %a{:href => "#step-1-content"}
                          %span.step-number 1
                          %span.step-description Event Address
                    %li.step-2-tab
                      %div
                        %a{:href => "#step-2-content"}
                          %span.step-number 2
                          %span.step-description Event Time/Date
                    %li.step-3-tab
                      %div
                        %a{:href => "#step-3-content"}
                          %span.step-number 3
                          %span.step-description Confirm Details
                  = render :partial => "form"
      #action.verbose
        .sidebar
          #event-location-map

= render :partial => "common/location_map", :locals => { :map_selector => "#event-location-map", :text_selector => "#event-location-text", :lookup_button_selector => "#lookup-button-location", :verify_button_selector => "#verify-button-location", :bind_selector => "#creation-steps",:get_together => @event.get_together, :variant => "event_builder" }

= render :partial => "common/events_assets", locals: {get_together: @event.get_together}
