<div id="pages-sequence-tip" style="display:none;">
<p>A page sequence is a sequence of action pages.</p> <p>After completing the first action, the user is taken to the second action and so on.</p>
</div>

<div id="pushes-tip" style="display:none;">
<p>A push is a series of email blasts relating to a specific campaign.</p>
</div>

<div id="get-togethers-tip" style="display:none;">
<p>A Get Together is a series of events hosted & attended by members.</p>
</div>
