<div class="footer-content">
  <div class="inner">
    &copy; <%= Date.today.year %> GetUp! All rights reserved |
    <a href="/about/privacy" title="Privacy Policy">Privacy Policy</a> |
    <a href="/unsubscribe" title="Unsubscribe">Unsubscribe</a>
    <span class="authorized">Authorised by <%= AppConstants.authorised_by %>, <%= AppConstants.office_address %></span>
    <span class="links">
      <a href="/donate" title="Donate Now">Donate Now</a>
    </span>
  </div>
</div>

