.pay-by-cheque
  %p
    If you would prefer to donate by cheque or money order, download a GetUp donation form
    %a{ href: 'https://getup-production.s3.amazonaws.com/139-offlinedonations.pdf', target: '_blank' } here
    and mail it to the GetUp office at:
  .address
    GetUp!
    %br
    PO Box A105
    %br
    Sydney South,
    %br
    NSW, 1235
    %br
    Australia
    %br