<div>
  <table role="presentation" cellpadding="0" cellspacing="0" style="background:#f1f2f2;font-size:0px;width:100%;" border="0">
    <tbody>
      <tr>
        <td>
          <div style="margin:0px auto;">
            <table role="presentation" cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;" align="center" border="0">
              <tbody>
                <tr>
                  <td style="text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding:0px;">
                    <table role="presentation" cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-spacing:0px;" align="left" border="0">
                      <tbody>
                        <tr>
                          <td style="width:62px;"><img alt="" title="" height="auto" src="https://d68ej2dhhub09.cloudfront.net/top_left.png" style="border:none;border-radius:;display:block;outline:none;text-decoration:none;width:100%;height:auto;" width="62"></td>
                        </tr>
                      </tbody>
                    </table>
                    <div style="margin:0px auto;">
                      <table role="presentation" cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;" align="center" border="0">
                        <tbody>
                          <tr>
                            <td style="text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding:0px 30px;">
                              <div style="cursor:auto;color:#444444;font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:15px;line-height:19px;">
                                GetUp is a powerful campaigning community made up of everyday Australians like you -- fighting for a more fair, flourishing and just Australia. Help keep GetUp strong by becoming part of the GetUp Crew by making a regular donation.
                              </div>
                              <div style="font-size:1px;line-height:10px;"> </div>
                              <div style="cursor:auto;color:#000000;font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:13px;line-height:22px;">
                                <a href="https://<%= AppConstants.host %>/regular-donation?t={TRACKING_HASH|NOT_AVAILABLE}" style="color:#ff671f;font-size:17px;font-weight:700;text-decoration:underline;">Become a GetUp Crew Member >></a>
                              </div>
                              <div style="font-size:1px;line-height:20px;"> </div>
                              <div style="cursor:auto;color:#7c7c7c;font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:12px;line-height:16px;">We acknowledge the Aboriginal and Torres Strait Islander peoples as the traditional custodians of the lands where we live, learn and work, and pay our respect to their Elders, past and present.</div>
                              <div style="font-size:1px;line-height:10px;"> </div>
                              <div style="cursor:auto;color:#000000;font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:13px;line-height:22px;">
                                <a href="http://<%= AppConstants.host %>/unsubscribe?t={TRACKING_HASH|NOT_AVAILABLE}" style="color:#7c7c7c;font-size:10px;text-decoration:underline;">unsubscribe</a>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <table role="presentation" cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-spacing:0px;" align="right" border="0">
                      <tbody>
                        <tr>
                          <td style="width:62px;"><img alt="" title="" height="auto" src="https://d68ej2dhhub09.cloudfront.net/bottom_right.png" style="border:none;border-radius:;display:block;outline:none;text-decoration:none;width:100%;height:auto;" width="62"></td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
