<span style="color:#888888;font-size:90%">
GetUp is an independent, not-for-profit community campaigning group. We use new technology to empower Australians to have their say on important national issues. We receive no political party or government funding, and every campaign we run is entirely supported by voluntary donations. If you'd like to contribute to help fund GetUp's work, please <a href="https://<%= AppConstants.host %>/donate?t={TRACKING_HASH|NOT_AVAILABLE}">donate now!</a> This email was sent to {EMAIL|NOT_AVAILABLE}. To unsubscribe this email address from GetUp, please click <a href="http://<%= AppConstants.host %>/unsubscribe?t={TRACKING_HASH|NOT_AVAILABLE}">here</a>.
</span>
<p><span style="color:#888888;font-size:90%"><strong>
  Our team acknowledges that we meet and work on the land of the Gadigal people of the Eora Nation. We wish to pay respect to their Elders - past, present and future - and acknowledge the important role all Aboriginal and Torres Strait Islander people continue to play within Australia and the GetUp community.
</strong></span></p>
<p><span style="color:#888888;font-size:90%">
  Authorised by <%= AppConstants.authorised_by %>, <%= AppConstants.office_address %>.
</span></p>
