<div id="contact-method-tip" style="display:none;">
<p>Select "Phone" to display the target's phone number and instruct to call.</p>
<p>Otherwise please select "Visit" to display the office address and instruct them to visit.</p>
</div>

<div id="target-phone-tip" style="display:none;">
<p>Select "Parliament" to display MP's <strong>parliament</strong> phone number.</p>
<p>Otherwise please select "Office" which will display MP's <strong>electorate</strong> phone number.</p>
</div>

<div id="title-tip" style="display:none;">
<p>Displayed at the top of the module.</p>
</div>
