.span6.top-heroes
  %img{:src => '/system/image_1_full.jpg'}
  %i.icon-play-circle.icon-large.open-videoModal{'data-toggle' => 'modal', :href => '#videoModal', 'data-id' => '//www.youtube.com/embed/Y_hJL7hfH2M'}
  .carousel-caption.main-video
    %p Video Description (Member Name)
.span6.top-heroes.info-pane
  %p
    The People Who Power GetUp
  %p.subtext
    Meet the members behind the movement
    %a{:href => '#', :class => 'btn btn-primary btn-large'}
.span4
  %img{:src => '/system/image_4_full.jpg'}
  %i.icon-play-circle.icon-large.open-videoModal{'data-toggle' => 'modal', :href => '#videoModal', 'data-id' => '//www.youtube.com/embed/Y_hJL7hfH2M'}
.span4
  %img{:src => '/system/image_4_full.jpg'}
  %i.icon-play-circle.icon-large.open-videoModal{'data-toggle' => 'modal', :href => '#videoModal', 'data-id' => '//www.youtube.com/embed/Y_hJL7hfH2M'}
.span4
  %img{:src => '/system/image_4_full.jpg'}
  %i.icon-play-circle.icon-large.open-videoModal{'data-toggle' => 'modal', :href => '#videoModal', 'data-id' => '//www.youtube.com/embed/Y_hJL7hfH2M'}
.span3.pic
  %img{:src => '/system/image_7_full.jpg'}
.span3.pic
  %img{:src => '/system/image_8_full.jpg'}
.span3.pic
  %img{:src => '/system/image_9_full.jpg'}
.span3.pic
  %img{:src => '/system/image_10_full.jpg'}
.span6
  %img{:src => '/system/image_1_full.jpg'}
  %i.icon-play-circle.icon-large.open-videoModal{'data-toggle' => 'modal', :href => '#videoModal', 'data-id' => '//www.youtube.com/embed/Y_hJL7hfH2M'}
.span6
  %img{:src => '/system/image_1_full.jpg'}
  %i.icon-play-circle.icon-large.open-videoModal{'data-toggle' => 'modal', :href => '#videoModal', 'data-id' => '//www.youtube.com/embed/Y_hJL7hfH2M'}
.span4
  %img{:src => '/system/image_4_full.jpg'}
  %i.icon-play-circle.icon-large.open-videoModal{'data-toggle' => 'modal', :href => '#videoModal', 'data-id' => '//www.youtube.com/embed/Y_hJL7hfH2M'}
.span4
  %img{:src => '/system/image_4_full.jpg'}
  %i.icon-play-circle.icon-large.open-videoModal{'data-toggle' => 'modal', :href => '#videoModal', 'data-id' => '//www.youtube.com/embed/Y_hJL7hfH2M'}
.span4
  %img{:src => '/system/image_4_full.jpg'}
  %i.icon-play-circle.icon-large.open-videoModal{'data-toggle' => 'modal', :href => '#videoModal', 'data-id' => '//www.youtube.com/embed/Y_hJL7hfH2M'}
.span3.pic
  %img{:src => '/system/image_11_full.jpg'}
.span3.pic
  %img{:src => '/system/image_12_full.jpg'}
.span3.pic
  %img{:src => '/system/image_13_full.jpg'}
.span3.pic
  %img{:src => '/system/image_14_full.jpg'}
.span6
  %img{:src => '/system/image_1_full.jpg'}
  %i.icon-play-circle.icon-large.open-videoModal{'data-toggle' => 'modal', :href => '#videoModal', 'data-id' => '//www.youtube.com/embed/Y_hJL7hfH2M'}
.span6
  %img{:src => '/system/image_1_full.jpg'}
  %i.icon-play-circle.icon-large.open-videoModal{'data-toggle' => 'modal', :href => '#videoModal', 'data-id' => '//www.youtube.com/embed/Y_hJL7hfH2M'}
.span4
  %img{:src => '/system/image_4_full.jpg'}
  %i.icon-play-circle.icon-large.open-videoModal{'data-toggle' => 'modal', :href => '#videoModal', 'data-id' => '//www.youtube.com/embed/Y_hJL7hfH2M'}
.span4
  %img{:src => '/system/image_4_full.jpg'}
  %i.icon-play-circle.icon-large.open-videoModal{'data-toggle' => 'modal', :href => '#videoModal', 'data-id' => '//www.youtube.com/embed/Y_hJL7hfH2M'}
.span4
  %img{:src => '/system/image_4_full.jpg'}
  %i.icon-play-circle.icon-large.open-videoModal{'data-toggle' => 'modal', :href => '#videoModal', 'data-id' => '//www.youtube.com/embed/Y_hJL7hfH2M'}
.span3.pic
  %img{:src => '/system/image_15_full.jpg'}
.span3.pic
  %img{:src => '/system/image_16_full.jpg'}
.span3.pic
  %img{:src => '/system/image_17_full.jpg'}
.span3.pic.extra
  %img{:src => '/system/image_18_full.jpg'}