- title "Unsubscribe"
%article
  .container
    %section
      %article
        #unsubscribe
          %h1
            Unsubscribe
            = @community_run ? 'from CommunityRun' : ''
          %hr
          %p
            = @msg

