<p>
  Use the following HTML code to embed the image in <strong>an email:</strong>
  <blockquote>
    <%= h("#{hosted_image_tag(@image, { style: responsive_image(@image) }, false)}") %>
  </blockquote>
</p>
