// Large Grid

section {
  @include makeResponsiveRow();
}
footer .menu {
  @include makeResponsiveColumn(3);
}

// Switches depending on body classes
  // Single Page
  .article {
    article {
      #action {
        @include makeResponsiveColumn(4);
        iframe, embed {
          @include highDefinition(4);
          &.tall {
            @include makeResponsiveDocumentFrame(4);
          }
        }
        table {
          width: 100%;
          iframe, embed { width: 100%; }
        }
      }
      article   { 
        @include makeResponsiveColumn(8); 
        iframe, embed {
          @include highDefinition(8);
          &.tall {
            @include makeResponsiveDocumentFrame(8);
          }
        }
        table {
          width: 100%;
          iframe { width: 100%; }
        }
      }
    }
  }

  // Page with Aside
  .article.aside {
    article {
      article   {
        @include makeResponsiveColumn(8);
        iframe, embed {
          @include highDefinition(8);
          &.tall {
            @include makeResponsiveDocumentFrame(8);
          }
        }
        table {
          width: 100%;
          iframe, embed { width: 100%; }
        }
      }
      aside {
        @include makeResponsiveColumn(4);
        iframe, embed {
          @include highDefinition(4);
          &.tall {
            @include makeResponsiveDocumentFrame(4);
          }
        }
        table {
          width: 100%;
          iframe, embed { width: 100%; }
        }
      }
    }
  }

  // Page with Action
  .article.action {
    article {
      article   {
        @include makeResponsiveColumn(8);
        iframe, embed {
          @include highDefinition(8);
          &.tall {
            @include makeResponsiveDocumentFrame(8);
          }
        }
        table {
          width: 100%;
          iframe, embed { width: 100%; }
        }
      }
      #action {
        @include makeResponsiveColumn(4);
        .sidebar {
          iframe, embed {
            @include highDefinition(4);
            &.tall {
              @include makeResponsiveDocumentFrame(4);
            }
          }
          table {
            width: 100%;
            iframe, embed { width: 100%; }
          }
        }
      }
    }
    &#email {
      article {
        article   {
        @include makeResponsiveColumn(4);
        iframe, embed {
          @include highDefinition(4);
          &.tall {
            @include makeResponsiveDocumentFrame(4);
          }
        }
        table {
          width: 100%;
          iframe, embed { width: 100%; }
        }
      }
      #action {
        @include makeResponsiveColumn(8);
        .sidebar {
          iframe, embed {
            @include highDefinition(4);
            &.tall {
              @include makeResponsiveDocumentFrame(4);
            }
          }
          table {
            width: 100%;
            iframe, embed { width: 100%; }
          }
        }
      }
      }
    }
    &#donation, &#email {
      article {
        article      {
          @include makeResponsiveColumn(6);
          iframe, embed {
            @include highDefinition(6);
            &.tall {
              @include makeResponsiveDocumentFrame(6);
            }
          }
          table {
            width: 100%;
            iframe, embed { width: 100%; }
          }
        }
        #action {
          @include makeResponsiveColumn(6);
          .sidebar {
            iframe, embed {
              @include highDefinition(4);
              &.tall {
                @include makeResponsiveDocumentFrame(4);
              }
            }
            table {
              width: 100%;
              iframe, embed { width: 100%; }
            }
          }
        }
      }
    }
  }

  // Page with Aside and Action
  .article.aside.action, .article.aside.action#donation {
    article {
      article      {
        @include makeResponsiveColumn(4);
        iframe, embed {
          @include highDefinition(4);
          &.tall {
            @include makeResponsiveDocumentFrame(4);
          }
        }
        table {
          width: 100%;
          iframe, embed { width: 100%; }
        }
      }
      aside {
        @include makeResponsiveColumn(4);
        iframe, embed {
          @include highDefinition(4);
          &.tall {
            @include makeResponsiveDocumentFrame(4);
          }
        }
        table {
          width: 100%;
          iframe, embed { width: 100%; }
        }
      }
      #action {
        @include makeResponsiveColumn(4);
        .sidebar {
          iframe, embed {
            @include highDefinition(4);
            &.tall {
              @include makeResponsiveDocumentFrame(4);
            }
          }
          table {
            width: 100%;
            iframe, embed { width: 100%; }
          }
        }
      }
    }
  }

// Nav

#user {
  height:30px;
  margin-bottom:30px;
  background: white;
  .navbar-inner.navbar-inverse {
    background:transparent;
    .usernavbg {
      @include gradient-vertical(lighten($orange,5%),darken($orange,5%));
      position: absolute;
      z-index: 1;
      height:30px;
      right: 0;
      top: 0;
    }
    .nav {
      float:left;
      position: relative;
      z-index: 10;
      li {
        @include gradient-vertical(lighten($orange,5%),darken($orange,5%));
        height: 30px;
        a,
        span {
          color:$white;
          padding-top:5px;
          padding-bottom:5px;
          border-color:darken($orange,10%);
          border-left: none;
        }
      }
    }
    .username  {
      background: white !important;
      filter:none !important;
      border: 0;
      span {
        color: lighten($gray,20%) !important;
        padding-bottom: 6px;

      }
    }
  }
}

.ie7 .navbar .nav {
  margin: 0;
}

.ie.ie7 header#user .navbar-inner.navbar-inverse .username span {
  color: dimgray;
}

// Header

#user {
  box-shadow: 2px 2px 4px 0 rgba(0,0,0,.15);
  height: auto;
  width: 100%;
  background: hsla(0,0%,100%,.95);
  z-index: 5;
}


#brand {
  display:block;
  text-indent:-9999px;
  padding-left: 24px;
  img {
    float: left;
    width:auto;
    height: 48px;
    display:block;
    padding-bottom: 8px;
    padding-top: 8px;
  }
}

#brandbar {
  background:$orange;
  text-align:center;
  #tinybrand{
    display: block;
    width:100px;
    height:auto;
    margin:0 auto;
    img {
      float: left;
      width:100px;
      height:auto;
    }
  }
}

nav {
  min-height:50px;
  padding: 0 0 10px 0;
  .container {

    .navbar-inner {
      background:transparent;
    }
    .mainnavbg {
      background:$navbarBackground;
      position: absolute;
      z-index: 1;
      height:40px;
      right: 0;
      width: 28%;
      top:auto;
      display: block;
    }
    ul.nav {
      float:right;
      position: relative;
      z-index: 10;
      li {
        a {
          background:$navbarBackground;
        }
      }
    }
  }
}
nav .container .nav-collapse ul.nav li  a {
  text-shadow:none;
}

.ie7 nav .container .mainnavbg {
  display: none;
}

// Donate

#donation {
  .nav-tabs > li > a {
    padding-right: 9px;
    padding-left: 9px;

    &.donation-curt {
      display: none;
    }

    @media (min-width: 768px) and (max-width: 979px) {
      &.donation-curt {
        display: block;
      }
      &.donation-verbose {
        display: none;
      }
    }

    @media (min-width: 416px) and (max-width: 767px) {
      &.donation-curt {
        display: none;
      }
      &.donation-verbose {
        display: block;
      }
    }

    @media (max-width: 415px) {
      &.donation-curt {
        display: block;
      }
      &.donation-verbose {
        display: none;
      }
    }
  }

  .btn-group.donation input {
    @include border-radius(0px 3px 3px 0px);
  }
  .card-types {
    margin: 10px 0 0 0;
  }
  .cvv {
    width: 60px;
  }

  #donation_card_cvv {
    float: none;
  }

  .expiry {
    select {
      width: auto;
    }
    .span1, .span2 {
      margin-left: 0;
    }
  }
  .input-append {
    .donation {
      .btn {
        float: left;
        margin: 0 3px 3px 0;
      }
      .suggested-amount {
        clear: both;
        label {
          clear: none;
        }
        input {
          margin-right: 10px;
          margin-top: 5px;
        }
      }
      .others {
        float: left;
        .otherbtn {
          padding: 4px 6px;
          margin-right: 0;
          @include border-radius(3px 0px 0px 3px);
        }
        .otheramount {
          height: 28px;
          padding-top: 4px;
          padding-bottom: 4px;
          font-size: 15px;
          @include border-radius(0px 3px 3px 0px);
        }
      }
    }
  }
  label {
    clear: left;
  }
  form {
    .span1, .span2, .input-mini {
      margin-bottom: 0;
    }
  }

  .donations-footer {
    color: $grayMid;
    font-size: 14px !important;
    text-align: left;
  }

  .odometer {
    width: 210px;
    margin: 0 auto;
    color: $white;
    font-size: 33px;
    font-weight: bold;
    font-family: Swiss721BT-BoldCondensed, Helvetica, Arial;
    line-height: 47px;

    span {
      color: $white;
      float: left;
      margin-right: 8px;
    }
  }

  .odometer-text {
    background: none;
    font-size: 27px;
    height: 30px;
    margin-top: 5px;
    text-align: center;
  }
}
// merch
.manual-address-message {
  padding: 6px 0px;
  font-size: 15px;
  color: #ddd;
}

// General Pages
article {
  padding:$baseLineHeight*2 0 $baseLineHeight*5 0;
  article {
    padding:0;
    .clearfix {
      clear:both;
    }
    p {
      font-size:20px;
      font-weight: 400;
      line-height: 1.5;
      letter-spacing: 0px;
    }
    img {
      margin: 8px 8px 24px 0;
    }
    .content-module {
      margin-top:8px;
      margin-bottom: 24px;
    }
  }
  #action {
    p, li {
      font-size: 16px;
      line-height: 22px;
    }
  }
}

//pagination
.pagination {
  .current {
    float: left;
    padding: 0 14px;
    line-height: 38px;
  }
  a, span {
    border:none;
  }
}

//static pages nav
.nav-about-getup, .nav-faq, .nav-contact-us, .nav-get-involved, .nav-work-at-getup, .nav-media, .nav-privacy, .nav-disclosure, .nav-current-campaign-actions-current-campaigns, .nav-campaigns-archive-past-campaigns {
  font-style: normal;
}

h1 {
  margin: 0 0 16px !important;
}
hr {
  @include clearfix();
}


// Icons
.icon-large {
  color: white;
  font-size: 20px;
  position: relative;
  top: -1px;
  padding-right: 5px;
}

.icon-phone {
  padding-left: 4px;
}

// Provisions for short-column articles
.article.aside.action {
  article {
    article {
      iframe, embed {
        @include highDefinition(4);
        &.tall {
          @include makeResponsiveDocumentFrame(4);
        }
      }
      table {
        iframe, embed { width: 100%; }
      }
    }
  }
}

.ie7 .icon-large {
  top: 2px;
  left: 0;
}

.ie8 .icon-large {
  left: 2px;
}

// Petition Page

.petition article {
  .images {
    background:$black;
    min-height:200px;
  }
  .caption {
    margin-bottom: $baseLineHeight;
  }
}

// Image share
.loading-container {
  position: relative;
}
.loading {
  width: 100%;
  height: 100%;
  position: absolute;
  img {
    width: 15%;
    position: absolute;
    top: 50%;
    left: 39%;
  }
}
#canvas {
  margin-top: 10px;
  width: 98%;
  height: 100%;
}
.image-share {
  margin-top: 20px;
  float: left;
  width: 100%;
}
.canvas-container {
  position: relative;
  min-height: 190px;
  float: left;
  width: 100%;
}

article #action input.cloudinary_fileupload {
  display: none;
}

// Generic Actions
#action {
  .content {
    padding:$baseLineHeight;
  }
  .well {
    font-weight: 400;
  }
  blockquote {
    border-color: #ddd;
    border-color: rgba(0,0,0,.15);
  }
  input {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .user-lookup-message {
    padding-top: 3px;
    clear: both;
  }
}

.icon-arrow-right, .icon-arrow-down {
  text-decoration: none !important;
}

.ie7 #action .well,
.ie8 #action .well {
  font-weight:600;
}

.ie7 .well input.full {
  display: block;
  float: left;
  clear:both;
}
.ie7 .well .span4 input.full {
  margin-left:-20px;
}
.ie7 .well input.error {
  display: block;
  float: left;
}
.ie7 .well textarea.emailarea {

}
.ie7 .well .checkbox input {
  display: inline;
  clear: left;
}
.ie7 .btn-error {
  margin-left: 0;
}
.ie7 .postcode {
  margin-left: -20px;
}
.ie7 {
  .btn {
    .icon {
      display: block;
      left:0;
      top:0;
      position:absolute;
      width:30px;
      height:30px;
      color:white;
    }
  }
}
.ie7 #donation {
  .expiry {
    clear: both;
  }
  .input-append .donation .others {
    .otherbtn {
      height: 30px;
    }
    .otheramount {
      height: 22px;
    }
  }
}

.ie7 #donation .odometer-text,
.ie8 #donation .odometer-text {
  font-size: 24px;
}

.ie7 .copy-this {
  input {
    width: 360px;
    border: 1px solid $grayLight;
  }
}

// Donation Page
#action {
  .content {
    padding:$baseLineHeight;
  }
  .well {

    form {
      .button-with-facebook-sign {
        margin-top: 8px;
      }
    }

    .btn-group.donation {
      .btn {
        padding-left:8px;
        padding-right:8px;
      }
      .input-mini {
        margin-left:-1px;
      }
    }

    #masked-card-number {
      color: white;
    }
      
    .jshide {
      display: none;
    }
    .jsshow {
      display:block;
    }

    .nav {
      margin-bottom:0;
      li {
        a {
            background-color: transparent;
        }
        &.active {
          a {
            background-color: lighten($gray,10%);
          }
        }
      }
    }
    .tab-content-wrap {
      position: relative;
      padding: $baseLineHeight;
      background-color: lighten($gray,10%);
      margin-bottom: $baseLineHeight;
      min-height: 60px;

      .credit-secure-icon {
        padding: 0px;
        margin-bottom: -10px;
      }

      .paypal-secure-icon, .quick-donate-secure-icon {
        height: 15px;

        label {
          padding: 0px;
        }
      }

      .card-info {
        display: block;
        color: #999;
        font-size: 14px;
      }


      .quickdonate-control {
        font-size: 12px;
        color: #9A9A9A;
        text-transform: initial;
      }

    }
    .btn-social {
      display:block;
      float:left;
      margin-right: 8px;
    }
  }
}


//Social icons - overwritting fontawesome
.ask-button {
  .btn-social {
    text-align: left;
    display: flex !important;
  }
  .text {
    padding: 0 !important;
    display: flex;
    align-items: center;
    height: 100%;
  }
  .icon { width: 25px !important; }
  .icon-large {
    font-size: 0.75em !important;
    width: 100%;
    text-align: center;
  }
}



// Petition Takeovers

.takeover {
  article {
    background:$takeover;
    padding-top:$baseLineHeight;
    padding-bottom:$baseLineHeight;
    @include box-shadow(0px 0px 20px $black inset);
    article {
      background:transparent;
      color: $white;
      @include box-shadow(none);
    }
  }
}


.talkingwrap {
  right: 0;
  float: left;
}
.ie7 #email article #action form .narrow-details {
  #user_email, #mp_postcode, #member_id {
    margin-left: -20px;
  }
  select {
    float: none;
  }
}

#email {
  article {
    #action {
      form {
        #mps-lookup {
          width: 100%;
        }
        #mp-lookup-message {
          padding: 4px 0px;
          p {
            margin: 0px;
          }
        }
        #evaluate-party-message {
          padding: 4px 0px;
        }
        .find-mp {
          margin-top: 10px;
          margin-bottom: 0px;
        }
        .narrow-details {
          @include makeResponsiveColumn(5);
          select {
            width: 98%;
            float: left;
          }
        }
        // @include makeResponsiveColumn(6);
        @include clearfix();
        .btn-primary {
          display:block;
          width: 100% !important;
        }
        #user_email_subject {
          width: 100%;
        }
        .send-copy {
          margin-bottom: 6px;
        }
      }
      select, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
        &.input-small {
          width:90px;
        }
      }
      input {
        text-indent: 4px;
        display: block;
        height: 48px;
        float: left;
      }
      label {
        clear: both;
      }
      .checkbox {
        margin-top: 5px;
        .full {
          height: 16px;
        }
      }

      .talking-points {
        clear:both;
        padding-top:15px;

        .talking-points-heading {
          color: #2098f5;
          font-weight: bold;
        }

        .talking-points-long-description {
          white-space: pre-line;
        }

        input.btn-add {
          float: right;
          margin-left: 5px;
          text-indent: 0px !important;
          padding-top: 0px;
          padding-bottom: 0px;
        }
        .accordion-inner {
          border: none;
          color: white;

          p {
            font-weight: bold;
          }

          .accordion-toggle {
            color: inherit;
          }
          .accordion-inner {
            padding-top: 2px;
            padding-bottom: 20px;
          }
        }
      }
    }
  }
  .emailcontent {
    display: none;
  }
  #action hr {
    margin-bottom: 10px;
  }

}

#user_email_cc_me { width: auto !important; }
// Email Page
body > article {
  overflow: hidden;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 400;
}
article {
  #action {
    input {
      text-indent: 4px;
      display: block !important;
      height: 48px;
      float: left;
      padding-left: 8px;
    }
    label {
      clear: both;
    }
    .checkbox {
      margin-top: 5px;
      .full {
        height: 16px;
      }
    }
    .radio {
      input {
        height: 17px !important;
        margin-top: 3px;
      }
    }
  }
}

textarea { padding-left: 12px !important; }
// Footer
footer {
  background:$grayLighter;
  padding:$baseLineHeight 0;
  .menu {
    li.nav-header {
        font-size: $baseFontSize*1.3;
        line-height: $baseLineHeight*1.25;
        color:$grayMid;
        text-transform:uppercase;
        padding:20px 0 10px 0;
        a:link, a:visited, a:hover, a:focus {
          color:$grayMid;
          font-size: $baseFontSize*1.20;
          font-weight: 500;
          text-decoration:none;
        }
        a:hover, a:focus {
          color:$gray;
          text-decoration:none;
        }
    }
    a:link, a:visited, a:hover, a:focus {
      font-size: $baseFontSize;
      line-height: $baseLineHeight*1.25;
      color:$grayMid;
      padding:0;
      text-decoration:none;
    }
    a:hover, a:focus {
      color:$gray;
      text-decoration:none;
    }
  }
  .copyright,.acknowledgement-of-country {
    margin-top: 20px;
    font-size: 0.75em;
    color: $grayMid;
    text-align: center;
  }
}


// Homepage
#home {

  #getinvolved {

    background:$gray;
    color:$white;
    border-top:5px $blue solid;
    position:relative;
    padding-top:40px;
    padding-bottom:30px;
    h1 {
      text-align:right;
    }
    form {
      margin-top:10px;
      float:right;
      .email {
        float: left;
        min-width: 149px;
        width:185px;
        input {
          width:100%;
          float:left;
          height:25px;
          background:lighten($grayLighter,5%);
          font-size:  17px;
          padding: 10px 0px;
          text-indent:9px;
          @include box-shadow(0px 1px 1px rgba(0,0,0,0.3) inset);
        }
        .errors {
          clear:both;
        }
      }
      .submit {
        float:left;
        height:45px;
        padding:10px 20px;
        @include border-radius(0px 3px 3px 0px);
      }
    }

    overflow:visible;
    // Double Arrow for the first set

    &:before, &:after {
      content: " ";
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-color: transparent;
      border-bottom: 0;
    }

    &:before {
      top:-1px;
      left: 50%;
      z-index:5px;
      /* If 1px darken stroke slightly */
      border-top-color:$blue;
      border-width: 27px;
      margin-left:-27px;
    }

    &:after {
      top:-8px;
      left: 50%;
      border-top-color: #fff;
      border-width: 27px;
      margin-left:-27px;
      z-index:20;
    }
  }

  #whatshappening {
    padding-bottom:45px;
    position: relative;
    .findoutmore {
      text-align: center;
      position: absolute;
      bottom: 5px;
      left: 50%;
      margin-left: -70px;
      width:140px;
      text-transform: uppercase;
      a {
        color: #939393;
        text-decoration: none;
        font-weight: 600;
        font-style:italic;
      }
      span {
        color: #ccc;
        font-size:0.6em;
      }
    }
  }

  #actions {
    .activity-stream {
      max-height: 295px;
      overflow: hidden;
    }
    .action {
      padding:5px 0;
      border-bottom:1px $grayLighter solid;
      color:darken($grayLight,10%);
      position:relative;
      width:100%;
      min-height:30px;
      a {
        font-weight:600;
      }
      .text {
        padding-right:85px;
      }
      .time {
        position:absolute;
        top:10px;
        right:0;
        color:$grayLight;
        font-style:italic;
        font-size:0.85em;
      }
      .name {
        font-weight: bold;
      }
    }
  }

  .carousel-control {
    margin-top:0;
    border:0px;
    background:transparent;
    text-shadow:0px -1px 0px rgba(0,0,0,0.5);
  }

  .sectionheading {
    text-align:center;
    margin-bottom:$baseLineHeight * 2;
  }

  .quote {
    font-style:italic;
    text-align:center;
    padding:$baseLineHeight 0;
  }

  h3.leading {
    text-align:center;
    color:$grayLight;
    margin-top:0;
  }

  .storybox {
    background:$white;
    color:$gray;
    height:250px;
    padding:20px;
    width:auto;
    text-align:center;
    img  {
      width:100%;
      height:auto
    }
    p {
      font-size: 18px;
    }
  }

  .pillar {
    text-align:center;
  }

  i.icon-large {
    text-align:center;
    margin-top:$baseLineHeight;
    font-size:$baseLineHeight * 2;
    line-height:$baseLineHeight * 3;
    color:$grayLight;
    text-shadow:0px 1px 0px $white;
  }

  article {
    font-size: 18px;
    font-weight: normal;
  }

  article.dark {
    padding:$baseLineHeight * 2 20px;
    background:$gray;
    color:$white;

  }

  article.gray {
    padding:$baseLineHeight * 2 20px;
    background:$grayLighter;
  }

  #history {
    position:relative;
    overflow:visible;
    &::after {
      content: " ";
      width: 0;
      height: 0;
      position: absolute;
      bottom: -40px;
      left: 50%;
      margin-left:-20px;
      border-width: 20px;
      border-color: $white transparent transparent transparent;
      border-style: solid;
      z-index:5;
    }
  }

  #focus {
    position:relative;
    overflow:visible;
    &::after {
      content: " ";
      width: 0;
      height: 0;
      position: absolute;
      bottom: -40px;
      left: 50%;
      margin-left:-20px;
      border-width: 20px;
      border-color: $grayLighter transparent transparent transparent;
      border-style: solid;
      z-index:5;
    }
  }

  #stories {
    position:relative;
    padding: 40px 20px 10px;
    h2 {
      margin-bottom:10px;
    }
    overflow:visible;
    &:before {
      content: " ";
      width: 0;
      height: 0;
      position: absolute;
      top: 0;
      left: 50%;
      margin-left:-20px;
      border-width: 20px;
      border-color: $gray transparent transparent transparent;
      border-style: solid;
      z-index:5;
    }
    &:after {
      content: " ";
      width: 0;
      height: 0;
      position: absolute;
      bottom: -40px;
      left: 50%;
      margin-left:-20px;
      border-color: $grayLighter transparent transparent transparent;
      border-width: 20px;
      border-style: solid;
      z-index:5;
    }
    &.dark {
      &:before {
        border-color: #F4F4F4 transparent transparent transparent;
      }
      &:after {
        border-color: $gray transparent transparent transparent;
      }
      padding: 60px 20px 40px;
    }
    .storyvideo {
      margin-top:54px;
      margin-bottom:3em;
      position: relative;
      clear:left;
    }
    .storyblurb {
      margin-top: 54px;
      h2 {
        font-size:36px;
        line-height:110%;
      }
    }
    .storyteaser {
      margin-top:1.8em;
      .teaser {
        img {
          width:100%;
          height:auto;
        }
      }
      &.firststory {
        clear:left;
      }
      iframe {
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
      }
    }
    img.spacer {
      width:100%;
      height:auto;
    }
    iframe {
      width:100%;
      height:100%;
      position: absolute;
      top:0;
      left:0;
      -webkit-box-shadow:0 2px 4px rgba(0,0,0,0.4);
      box-shadow:0 2px 4px rgba(0,0,0,0.4);
      -moz-box-shadow:0 2px 4px rgba(0,0,0,0.4);
    }
    .pillar {
      margin-bottom:2em;
      &.first {
        clear:left;
        margin-left:145px;
      }
      h2 {
        font-style: normal;
        margin-bottom: 18px;
        line-height: 35px;
      }
    }
    &.tile {
      background: image-url('public/story.tile.jpg') 0 0;
    }
  }

  #connect {
    background:$blue;
    padding:$baseLineHeight * 2 0;
    color:lighten($blue,40%);
    text-align:center;
    position:relative;
    .sectionheading {
      color:$white;
    }
    .socialicons {
      border-top:1px lighten($blue,10%) solid;
      border-bottom:1px lighten($blue,10%) solid;
      padding-top:$baseLineHeight;
      padding-bottom:$baseLineHeight * 2;
    }
    .icon-large {
      color:lighten($blue,40%);
      text-shadow:0px -1px 0px rgba(0,0,0,0.3);
      top: 0px;
      left: 0px;
      padding-right: 0px;
    }
    a {
      color:lighten($blue,40%);
      text-decoration:none;
      @include transition(color 500ms ease);
      &:hover,
      &:focus {
        color:$white;
        .icon-large {
          color:$white;
        }
      }
      h4 {
        span {
          margin-left: -3px;
        }
      }
    }

    overflow:visible;
    &:before {
      content: " ";
      width: 0;
      height: 0;
      position: absolute;
      top: 0;
      left: 50%;
      margin-left:-20px;
      border-width: 20px;
      border-color: $gray transparent transparent transparent;
      border-style: solid;
      z-index:5;
    }
    &:after {
      content: " ";
      width: 0;
      height: 0;
      position: absolute;
      bottom: -40px;
      left: 50%;
      margin-left:-20px;
      border-width: 20px;
      border-color: $blue transparent transparent transparent;
      border-style: solid;
      z-index:5;
    }
  }
}

.ie7 #home {
  #getinvolved {
    background-image:image-url('public/arrow.blue.png');
    background-position:50% 0%;
    background-repeat:no-repeat;
  }
  #focus {
    background-image:image-url('public/arrow.gray.png');
    background-position:50% 0%;
    background-repeat:no-repeat;
  }
  #history {
    background-image:image-url('public/arrow.graylight.png');
    background-position:50% 0%;
    background-repeat:no-repeat;
  }
  #stories {
    background-image:image-url('public/arrow.graylighter.png');
    background-position:50% 0%;
    background-repeat:no-repeat;
  }
  #connect {
    background-image:image-url('public/arrow.gray.png');
    background-position:50% 0%;
    background-repeat:no-repeat;
    font-size: 40px;
  }
}

.ie7 #home #actions .action .text {
  padding-right: 65px;
}

// Carousels styles

.carousel-caption {
  background:$blue;
   @include opacity(0.9);
  a {
    color:$white;
    text-decoration: none;
  }
  h1,h2,h3,h4 {
    font-weight:600;
    margin-top:0;
  }
}

//Standfirst styles
.readmore, .ie7 .readmore, .ie8 .readmore {
  display:none;
}

.standfirst-module.generated {
  display: none;
}

.standfirst-module {
  margin-bottom: 20px;
}

// General Syles
.tooltip {
  font-size:14px;
  line-height:16px;
}
.highlight {
  color:$orange;
}
.highimage {
  background:$grayLight;
  height:400px;
  width:100%;
}
.ie .collapse  {
  overflow:hidden;
}

// accordion styles

.accordion-module {
  margin: 0px !important;
}

.accordion-toggle,
.accordion-body {
  border-bottom: 1px solid #DDD;
}
.accordion-body {
  margin-top: -1px !important;
}

.accordion-inner {
  border-top: 0px !important;
}

.icon-arrow-down {
  display: none !important;
}
.accordion-heading {
  // font-size: 16px;
  font-weight: 700;
  color: #2098f5;
  a {
    padding: 16px !important;
    padding-left: 8px !important;
    &:hover {
      background-color: #EEE;
    };
  }
  .accordion-toggle {
    padding: 6px 2px;

    .icon-arrow-right {
      // display: none;
      transform: rotate(90deg) translateX(1.5px);
      transition: transform 0.3s ease-in-out;
      padding-right: 4px;
    }
    
    &.collapsed {
      .icon-arrow-right {
        transform: rotate(0deg) translateY(-0.5px);
        transition: transform 0.3s ease-in-out;
      }
      .icon-arrow-down {
        display: none;
      }

      .icon-arrow-right {
        display: inline-block;
        padding-right: 4px;
      }
    }
  }
}

.accordion-body {
  padding: 0px 16px;
}

.accordion-body.collapse {
  transition: height 0.3s ease-in-out;
}

.accordion-inner {
  padding: 7px 2px;
}

// no javascript style
.warning {
  background: #feffbd;
  padding:0.5em;
  margin:0.5em auto 0.5em auto;
  border: solid 1px #e8e8e8;
  width:60em;
}

// shared text-box/label styles
.copy-this {
  float: left;
  min-width: 100%;
  margin-top: 10px;
  input {
    width: 50%;
    min-width: 260px;
    border: 1px solid $grayLight;
  }
}

// Login/Unsubscribe styles
.login,
.login-block,
#unsubscribe {
  font-size: 16px;
  label {
    color: inherit;
    padding-top: 0px;
    margin-top: 15px;
    font-size: 16px;
  }
  input[type="text"],
  input[type="password"] {
    height: 29px;
    border: solid 1px $grayLighter;
    border-radius: 3px;
    padding: 0px;
  }
  .video {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .btn {
    margin-top: 10px;
    font-size: 16px;
    text-transform: uppercase;
    a {
      color: #ffffff;
      text-decoration: none;
    }
  }
  
  .reason-msg {
    margin: 25px 0 10px 0;
  }
  .reason-option {
    margin: 14px 0;
    display: block;
    label {
      display: inline;
      vertical-align: middle;
    }
    input {
      display: inline;
      margin-top: 0px;
      margin-right: 10px;
    }
    input[type='text'] {
      width: 28%;
      margin-left: 10px;
    }
  }
  .specific-campaign-options {
    display: none;
    margin-left: 1.5em;
    .specific-campaign-group {
      display: block;
    }
    input {
      margin: 0;
      vertical-align: middle;
    }
    label {
      display: inline;
      margin-right: 1em;
      vertical-align: middle;
    }
  }
}

.login-block {
  float: left;

  .seperator{
    border-left: 2px dotted $grayLighter;
    height: 300px;
    margin-left: 50px;
    margin-right: 20px;
    float: left;
  }
}

.login,
#unsubscribe {
  form {
    input[type="text"] {
      width: 65%;
    }
  }
}

.ie7 .login,
.ie7 .login-block,
.ie7 #unsubscribe {
  form {
    label {
      color: $gray;
    }
  }
}

#edit_user .btn-primary {
  margin: 0px;
}

//tables
tbody {
  text-align: left;
  td {
    padding-bottom: 4px;
    padding-right: 10px;
  }
  img {
    max-width:none;  }
}

// Transparency Stats table styles
#transparency-stats {
  width: 100%;

  .scroll {
    overflow: auto;
  }

  .transparency-metrics {
    max-width: 520px;
    font-size: 16px;

    td {
      text-align: right;
      border-bottom: 1px solid $grayLight;
      border-right: 1px solid $grayLight;
      padding: 1px 10px 1px 1px;
    }

    th {
      color: $orange;
      text-align: right;
      padding-right: 10px;
    }
  }
}

.ie7 #transparency-stats,
.ie8 #transparency-stats {
  width: 100%;
}

@media (max-width: 480px) {
  .transparency-metrics th {
    padding: 0;
  }
}

// Past Campaign Style
.past-campaign {
  width: 100%;
  table {
    tr td:first-child {
      width: 160px;
      padding-right: 10px;
      img {
        height: 110px !important;
      }
    }
  }
}

//Call MP Style
#call {
  #action{
    .find-mp {
      clear: both;
      padding-top: 10px;
      margin-bottom: 0px;
    }
    #mps-lookup {
      clear: both;
    }
    #evaluate-party-message {
      margin-top: 10px;
    }
    .mp-evaluated-msg {
      text-align: center;
    }
    .mp-phone-number {
      margin-top: 10px;
      .text {
        font-size: 22px;
        color: #ffffff;
      }
    }
    .mp-details {
      margin-top: 10px;
      .text {
        font-size: 16px;
        color: #ffffff;
      }
    }
  }
}

.donations_declared {
  font-size: 70%;
}

.doorknock {
  margin-bottom: 20px;
}

.custom-fields {
  float: left;
  clear: both;
  width: 100%;

  .custom-text-field {
    padding-top: 15px;
  }

  .custom-text-area {
    padding-top: 15px;
    textarea {
      box-sizing: border-box;
      height: 150px;
    }
  }

  .empty-field-text {
    padding-top: 15px;
    font-weight: bold;
  }
}

.custom-fields-above {
  margin-bottom: 20px;
}

.custom-fields-errors {
  float: left;

  .alert-error {
    margin-bottom: 0px;
    margin-top: 20px;
  }
}

.quickdonate {
  h3 {
    font-style: normal;
  }
  
  .content {
    margin-bottom: 25px;
  }

  .save-confirmation-btn {
    text-align: right;
  }

  .btn-primary {
    max-width: 350px;
    margin-right: 10px;

    @media (max-width: 590px) {
      max-width: 290px;
    }
    @media (max-width: 480px) {
      float: left;
      max-width: 430px;
    }
  }
  .btn.dismiss {
    @media (max-width: 480px) {
      margin-bottom: 10px;
    }
  }
}

#quick-donate {
  span {
    color: white;
    margin-right: 5px;
  }

  .quickdonate-control {
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap;
  }
}

#contact-mp-form.mp-steps {
  display: none;
}

.well {
  &.contact-mp-module {
    label.error {
      width: auto;
    }

    #action-form {
      input[type="text"], input[type="email"] {
        width: 100%;
      }
    }

    .step-number-label {
      float: left;
      background-color: $grayMid;
      color: white;
      padding: 5px 10px;
      margin: 0 5px 5px 0;
    }

    label.mp-steps {
      float: left;
      clear: right !important;
    }

    #mp-lookup-message, #evaluate-party-message {
      &.alert {
        margin: 5px 0;
        padding: 8px !important;
      }
    }
  }
}

@-moz-document url-prefix() {
  #ask-specific-user-details {
    clear: both;
  }
}

.screen-reader-only {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

#skip-to-main-content a { 
  position:absolute; 
  left:-10000px; 
  top:auto; 
  width:1px; 
  height:1px; 
  overflow:hidden;
} 
 
#skip-to-main-content a:focus { 
  position:static; 
  width:auto; 
  height:auto; 
}

.one-click-sign{
  font-size: 110% !important;
  i{
    margin-left: 20px;
    margin-right: 10px;
  }
  .name{ 
    color: white !important;
  }
  a {
    font-size: 80%;
    float: right;
  }
  .not-you-user {
    cursor: pointer;
  }
}
