//
// Wells
// --------------------------------------------------


// Base class

.well {
  min-height: 20px;
  padding: $baseLineHeight $baseLineHeight $baseLineHeight ;
  margin-bottom: 20px;
  background-color: $wellBackground;
  // border-top: 10px solid $wellBorder;
  color:$white;
  @include box-shadow(inset 0 0px 20px rgba(0,0,0,.1));
  blockquote {
    border-color: #ddd;
    border-color: rgba(0,0,0,.15);
  }
  input,span {
    color:$gray;
  }
  hr {
    border-color:lighten($gray,10%);
  }
  h1,h2 {
    font-weight:700;
  }
  h2 {
    margin-top: 8px;
    margin-bottom: 24px;
    line-height: 1.0;
  }

  .petition-content {
    padding-bottom: 4px;
  }
}
#petition .well,
#petition.noaside .well {
  padding: $baseLineHeight;
}
#email .well {
  padding: $baseLineHeight;
}

// Sizes
.well-large {
  padding: 24px;
  @include border-radius(6px);
}
.well-small {
  padding: 9px;
  @include border-radius(3px);
}

