---
http_interactions:
- request:
    method: post
    uri: https://getupstaging.nationbuilder.com/api/v1/lists?access_token=3babb108a4ec97d0d71f7f3a3bc209d7dc70fa42c3674e6e56b222ab50f3da82&fire_webhooks=false
    body:
      encoding: UTF-8
      string: '{"list":{"name":"Tijuana temporary list for ''stuff_sync,things_sync''","slug":"autotag_c5d4164d7510","author_id":1},"fire_webhooks":false,"access_token":"3babb108a4ec97d0d71f7f3a3bc209d7dc70fa42c3674e6e56b222ab50f3da82"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"304575e2fa082ab5130999e9da63947b"
      Nation-Ratelimit-Limit:
      - '75000'
      Nation-Ratelimit-Remaining:
      - '73536'
      Nation-Ratelimit-Reset:
      - '1427932800'
      Status:
      - 200 OK
      X-Pulse-Approved:
      - 'true'
      X-Ratelimit-Limit:
      - 10s
      X-Ratelimit-Remaining:
      - '93'
      X-Ratelimit-Reset:
      - '1427865374'
    body:
      encoding: UTF-8
      string: '{"list_resource":{"id":236,"name":"Tijuana temporary list for ''stuff_sync,things_sync''","slug":"autotag_c5d4164d7510","author_id":1,"count":0}}'
  recorded_at: Wed, 01 Apr 2015 05:16:12 GMT
recorded_with: VCR 2.9.3
