---
http_interactions:
- request:
    method: post
    uri: https://getupstaging.nationbuilder.com/api/v1/lists?access_token=3babb108a4ec97d0d71f7f3a3bc209d7dc70fa42c3674e6e56b222ab50f3da82&fire_webhooks=false
    body:
      encoding: UTF-8
      string: '{"list":{"name":"Tijuana temporary list for ''stuff_sync,things''","slug":"autotag_111e40a16727","author_id":1},"fire_webhooks":false,"access_token":"3babb108a4ec97d0d71f7f3a3bc209d7dc70fa42c3674e6e56b222ab50f3da82"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a4c8c2a41c5dd0dad0b044a770829cf5"
      Nation-Ratelimit-Limit:
      - '75000'
      Nation-Ratelimit-Remaining:
      - '73535'
      Nation-Ratelimit-Reset:
      - '1427932800'
      Status:
      - 200 OK
      X-Pulse-Approved:
      - 'true'
      X-Ratelimit-Limit:
      - 10s
      X-Ratelimit-Remaining:
      - '92'
      X-Ratelimit-Reset:
      - '1427865374'
    body:
      encoding: UTF-8
      string: '{"list_resource":{"id":237,"name":"Tijuana temporary list for ''stuff_sync,things''","slug":"autotag_111e40a16727","author_id":1,"count":0}}'
  recorded_at: Wed, 01 Apr 2015 05:16:13 GMT
recorded_with: VCR 2.9.3
