---
http_interactions:
- request:
    method: post
    uri: https://getupstaging.nationbuilder.com/api/v1/lists?access_token=3babb108a4ec97d0d71f7f3a3bc209d7dc70fa42c3674e6e56b222ab50f3da82&fire_webhooks=false
    body:
      encoding: UTF-8
      string: '{"list":{"name":"Tijuana temporary list for ''my first list''","slug":"autotag_94898924ba3d","author_id":1},"fire_webhooks":false,"access_token":"3babb108a4ec97d0d71f7f3a3bc209d7dc70fa42c3674e6e56b222ab50f3da82"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0a7381bc492f192f3a9adeb9381d2ce0"
      Nation-Ratelimit-Limit:
      - '75000'
      Nation-Ratelimit-Remaining:
      - '73538'
      Nation-Ratelimit-Reset:
      - '1427932800'
      Status:
      - 200 OK
      X-Pulse-Approved:
      - 'true'
      X-Ratelimit-Limit:
      - 10s
      X-Ratelimit-Remaining:
      - '95'
      X-Ratelimit-Reset:
      - '1427865374'
    body:
      encoding: UTF-8
      string: '{"list_resource":{"id":234,"name":"Tijuana temporary list for ''my
        first list''","slug":"autotag_94898924ba3d","author_id":1,"count":0}}'
  recorded_at: Wed, 01 Apr 2015 05:16:10 GMT
- request:
    method: post
    uri: https://getupstaging.nationbuilder.com/api/v1/lists?access_token=3babb108a4ec97d0d71f7f3a3bc209d7dc70fa42c3674e6e56b222ab50f3da82&fire_webhooks=false
    body:
      encoding: UTF-8
      string: '{"list":{"name":"Tijuana temporary list for ''my second list''","slug":"autotag_c72505bcce88","author_id":1},"fire_webhooks":false,"access_token":"3babb108a4ec97d0d71f7f3a3bc209d7dc70fa42c3674e6e56b222ab50f3da82"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b14862b0ea9d7921ad46b90c1595f446"
      Nation-Ratelimit-Limit:
      - '75000'
      Nation-Ratelimit-Remaining:
      - '73537'
      Nation-Ratelimit-Reset:
      - '1427932800'
      Status:
      - 200 OK
      X-Pulse-Approved:
      - 'true'
      X-Ratelimit-Limit:
      - 10s
      X-Ratelimit-Remaining:
      - '94'
      X-Ratelimit-Reset:
      - '1427865374'
    body:
      encoding: UTF-8
      string: '{"list_resource":{"id":235,"name":"Tijuana temporary list for ''my
        second list''","slug":"autotag_c72505bcce88","author_id":1,"count":0}}'
  recorded_at: Wed, 01 Apr 2015 05:16:11 GMT
recorded_with: VCR 2.9.3
