:javascript
  var eventMapBubbleTemplate = '#{map_bubble_template(get_together)}';
  var eventSearchResultsTemplate = '#{event_search_template(get_together)}';

= stylesheet_link_tag 'events'
= javascript_include_tag 'events'
