%noscript
  .warning
    %strong
      Please enable javascript on your browser to take full advantage of our website.
    %br
    Here are <a href="http://www.enable-javascript.com/" target="_blank">instructions for enabling javascript in popular web browsers</a>.
