<% title "File Manager" %>

<div id="upload-asset-form" class="section">
  <%= render :partial => 'form' %>
</div>

<div id="asset-library" class="section">
<h4>Recently Uploaded</h4>
  <%= render :partial => 'gallery' %>
</div>