#brand .dtj-logo {
    width: auto;
    height: 90px;
    margin-left: 10px;
}

#brandbar #tinybrand {
  width: 142px;
}

#brandbar #tinybrand img.dtj-logo {
  width: auto;
  height: 40px;
  margin: 4px 0 0 8px;
}

